:root {
    --background: #4d3838;

    --texto-botao: #ffffff;
    --texto-visor: #000000;

    --cor-main: #161616;
    --cor-botao: #222222;
    --cor-luz: #363636;
    --cor-sombra: #000000;
    --cor-luz2: #202020;
    --cor-sombra2: #0e0e0e;

    --botao-mais: #63248d;
    --botao-luz: #8738bb;
    --botao-sombra: #2f173f;

    --visor-main: #186241;
    --visor-sombra: #123b29;
}

.light-theme {
    --background: #37b5f0;

    --texto-botao: #000000;
    --texto-visor: #000000;

    --cor-main: #fff6c0;
    --cor-botao: #fffbca;
    --cor-luz: #fffaea;
    --cor-sombra: #b6a576;
    --cor-luz2: #fff7ca;
    --cor-sombra2: #c9bb70;

    --botao-mais: #30d1b4;
    --botao-luz: #55f1d5;
    --botao-sombra: #12977f;

    --visor-main: #3fa391;
    --visor-sombra: #276459;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;

    font-family: "Lexend", sans-serif;

    background-color: var(--background);

    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.7);

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
    width: 1250px;
    text-align: center;
}

.overlay-sides {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.left-ov {
    width: 450px;
}

.right-ov {
    display: flex;
    width: 650px;

    img {
        height: 500px;
    }
}

.overlay-content button {
    width: 80px;
    height: 25px;
    margin-top: 15px;

    color: black;
    font-family: "Lexend", sans-serif;
    font-size: 16px;

    background-color: rgb(212, 212, 212);
    border: 2px solid black;
    border-radius: 8px;

    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 390px;
    height: 480px;

    border-top: 2px solid var(--cor-luz2);
    border-right: 2px solid var(--cor-luz2);
    border-left: 2px solid var(--cor-sombra2);
    border-bottom: 2px solid var(--cor-sombra2);
    border-radius: 10px;

    background-color: var(--cor-main);
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.75);
}

.visor {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin: 10px;
    margin-top: 50px;

    width: 308px;
    height: 50px;

    background-color: var(--visor-main);
    border: 2px solid var(--visor-sombra);
    border-radius: 5px;

    color: var(--texto-visor);
    font-family: "Handjet", sans-serif;
    font-size: 26px;
    text-align: center;
}

.coluna {
    width: 308px;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
}

.coluna2 {
    width: 308px;
    display: grid;
    margin-top: 2px;
    gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.coluna button, .coluna2 button {
    width: 60px;
    height: 60px;

    color: var(--texto-botao);
    font-family: "Lexend", sans-serif;
    font-size: 26px;

    background-color: var(--cor-botao);
    border-top: 2px solid var(--cor-luz);
    border-right: 2px solid var(--cor-luz);
    border-left: 2px solid var(--cor-sombra);
    border-bottom: 2px solid var(--cor-sombra);
    border-radius: 8px;

    cursor: pointer;
}

.coluna2 button.resultado {
    width: 120px;
    color: var(--texto-botao);
    background-color: var(--botao-mais);
    border-top: 2px solid var(--botao-luz);
    border-right: 2px solid var(--botao-luz);
    border-left: 2px solid var(--botao-sombra);
    border-bottom: 2px solid var(--botao-sombra);
}

.nulo {
    filter: opacity(0%);
}

.extraButtons {
    display: flex;
    width: 250px;
    margin: 10px;
    justify-content: space-between;
}

#botao-ligar {
    width: 90px;
}

.extraButtons button {
    width: 60px;
    height: 35px;

    color: var(--texto-botao);
    font-family: "Lexend", sans-serif;
    font-size: 18px;

    background-color: var(--cor-botao);
    border-top: 2px solid var(--cor-luz);
    border-right: 2px solid var(--cor-luz);
    border-left: 2px solid var(--cor-sombra);
    border-bottom: 2px solid var(--cor-sombra);
    border-radius: 8px;

    cursor: pointer;
}

.creditos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}

.creditos button {
    width: 20px;
    border-radius: 50%;
    border-radius: 25px;
    padding: 8px;
    height: 20px;
    align-items: center;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    font-size: 19px;
}