:root {
    --texto-botao: #ffffff;
    --texto-visor: #000000;

    --cinza-main: #161616;
    --cinza-botao: #222222;
    --cinza-luz: #363636;
    --cinza-sombra: #000000;

    --botao-mais: #63248d;
    --botao-luz: #8738bb;
    --botao-sombra: #2f173f;

    --visor-main: #186241;
    --visor-sombra: #123b29;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Handjet", sans-serif;
}

.calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 410px;
    height: 450px;
    border-radius: 10px;
    background-color: var(--cinza-main);
}

.visor {
    display: flex;
    width: 250px;
    height: 50px;
    color: var(--texto-visor);
    background-color: var(--visor-main);
    border: 2px solid var(--visor-sombra);
    font-family: "Handjet", sans-serif;
    font-size: 26px;
    border-radius: 5px;
    text-align: center;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.coluna {
    width: 308px;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
}

.coluna button {
    width: 60px;
    height: 60px;
    color: var(--texto-botao);
    background-color: var(--cinza-botao);
    border-top: 2px solid var(--cinza-luz);
    border-right: 2px solid var(--cinza-luz);
    border-left: 2px solid var(--cinza-sombra);
    border-bottom: 2px solid var(--cinza-sombra);
    border-radius: 8px;
    font-family: "Handjet", sans-serif;
    font-size: 26px;
    cursor: pointer;
}

.coluna button.resultado {
    color: var(--texto-botao);
    background-color: var(--botao-mais);
    border-top: 2px solid var(--botao-luz);
    border-right: 2px solid var(--botao-luz); 
    border-left: 2px solid var(--botao-sombra);
    border-bottom: 2px solid var(--botao-sombra);
}